<!-- The Home Page -->
{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
  <h1>People Sparql</h1>
  <p>
    Welcome to the prototype site for my MSc Project: Semantics-based Indexing of Historical Entities
  </p>
  <p>This site demonstrates the following:
      <ul>
        <li>A basic python - flask website with blueprints</li>
        <li>Simple login to restrict access to certain features</li>
        <li>Querying a selection of SPARQL endpoints using the SPARQLWrapper python library
            <ul>
                <li>British Museum</li>
                <li>Archives Hub</li>
                <li>British National Bibliography</li>
                <li>DBPedia</li>
            </ul>
        </li>
       <li>Querying local data, stored in AllegroGraph: a sample from the artworld.york.ac.uk dataset and data added in the 'create' tab</li>
        <li>Creating basic triples using the agraph python client</li>
      </ul>
  </p>
  <p>
      Code for the prototype is available on GitHub: https://github.com/geekscruff/peoplesparql
  </p>
{% endblock %}