<!-- The Query Page -->
{% extends "base.html" %}
{% block title %}Query{% endblock %}
{% block content %}

    <script src="{{ url_for('static', filename='query.js') }}"></script>

    <h1>Query</h1>
    <!--
    If there is a 'q' session variable, display the query result, otherwise show the search box.
    Using safe here will autoescape the html being passed in the session variable.
    -->

    <div class="debug">
            <p>Query entered
        {% if session['query'] %}
            <img src="{{ url_for('static', filename='images/check-alt.png') }}" alt="TICK"/>
        {% else %}
            <img src="{{ url_for('static', filename='images/cancel.png') }}" alt="CROSS"/>
        {% endif %}
        <br />Endpoints selected
        {% if session['endpoints'] %}
        <img src="{{ url_for('static', filename='images/check-alt.png') }}" alt="TICK"/>
        {% else %}
            <img src="{{ url_for('static', filename='images/cancel.png') }}" alt="CROSS"/>
        {% endif %}
        <br />Results returned
        {% if session['resultslist'] %}
            <img src="{{ url_for('static', filename='images/check-alt.png') }}" alt="TICK"/>
        {% else %}
            <img src="{{ url_for('static', filename='images/cancel.png') }}" alt="CROSS"/>
        {% endif %}
        <br />Items discarded
        {% if session['discards'] %}
            <img src="{{ url_for('static', filename='images/check-alt.png') }}" alt="TICK"/>

        {% else %}
            <img src="{{ url_for('static', filename='images/cancel.png') }}" alt="CROSS"/>
        {% endif %}
        </p>
        </div>

    {% if session['email'] %}
    {% else %}
        <p>Please <a href="#" class=signin>Sign in</a>. It should only take a moment to set-up with a google account.</p>
    {% endif %}

    {% if session['query'] %}
        <p>
            You searched for:<br />
        {{ session['query'] | safe }}
        </p>
        <p>
            {{ session['epselect'] | safe }}
        </p>

        <form action="query" method=get>
            <input class="styledbutton" type=submit value="New Query">
        </form>
        {% if session['results'] %}
            <h2>Results</h2>

            <form action="query" method=post>

            {{ session['results'] | safe }}

                <br /><br />
                <input class="right" type="checkbox" id="selectall" />
                <label class="right">Select / Deselect all</label>
                <br /><br />
                <input class="right styledbutton" type="submit" value="Discard checked items" />
            </form>

            {% if session['discards'] %}
            <br /><br />
            <form action="query" method=post>
                <input type="hidden" name="cancel" value="cancel">
                <input class="right styledbutton" type="submit" value="Return discarded selection" />
            </form>
            {% endif %}

            <br /><br />
            <form action="explore" method=post>
                <input class="styledbutton" type="submit" value="Explore (all visible results)" />
            </form>

        {% endif %}

    {% else %}
        <p>
            Enter the name of the person you want to search for in the box below. You do not need to worry about word order or capitals.
        </p>
        <!-- The form simply passes an empty post back to the calling page. -->
        <form action="query" method=post>
            <input class="styledtext" name="term" type="text" />
            <input class="styledbutton" type=submit value=Search>
            <br /><br />
            Choose one or more query target(s):
            <br />

            <table>
                {% if session['endpointslist'] %}

                {{ session['endpointslist'] | safe }}

                {% else %}

                <p>There was a problem retrieving the list of endpoints.</p>

                {% endif %}
            </table>
        </form>
        <br />
        <form id="addnew" name="addnew" action="query" method=post>
            <input class="styledbutton" id="button" value="Add New Query Target" type="button">
            <!-- we will use some javascript to show the text box -->
        </form>
   {% endif %}
        <br />
{% endblock %}