<!-- The Query Page -->
{% extends "base.html" %}
{% block title %}Query{% endblock %}
{% block content %}

    <h1>Query</h1>
    <!--
    If there is a 'q' session variable, display the query result, otherwise show the search box.
    Using safe here will autoescape the html being passed in the session variable.
    -->
    {% if session['query'] %}
        <p>
        {{ session['query'] | safe }}
        </p>

        <p> {{ session['ep'] | safe }}
        </p>
        {% if session['q'] %}
            <h2>Results</h2>

            {{ session['q'] | safe }}

        {% endif %}
        <br />
        <form action="query" method=get>
            <input type=submit value="New Query">
        </form>
    {% else %}
        <p>
            Enter the name of the person you want to search for in the box below. You do not need to worry about word order or capitals.
        </p>
        <!-- The form simply passes an empty post back to the calling page. -->
        <form action="query" method=post>
            <input name="term" type="text" />
            <br /><br />
            Choose one or more query target(s):
            <br />
            <!-- TODO Find a cleaner way to populate this list -->

            <table>
                {% if session['epl'] %}

                {{ session['epl'] | safe }}

                {% else %}

                <p>There was a problem retrieving the list of endpoints.</p>

                {% endif %}
            </table>
            <!-- select all / clear all -->
            <br />
            <input type=submit value=Search>
        </form>
   {% endif %}
        <br /><br />
        <form id="addnew" name="addnew" action="query" method=post>
            <input id="button" value="Add New Query Target" type="button">
            <!-- we will use some javascript to show the text box -->
        </form>


    <p></p>
{% endblock %}