<!-- The Survey Page -->
<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>People Sparql - Ethics Consent Form </title>
  </head>
  <body>
    <header>
    </header>
    <div id="content">
        <h2>MSc Computing Dissertation Project Julie Allinson</h2>
        <p>Semantics-based Indexing of Historical Entities</p>
        <a style="font-size: 0.8em" href="#desc">reminder of what I will be asking you to do</a>
        <br /><br />
        <iframe src="https://docs.google.com/forms/d/10YEOUGm8QaG4Vl1qPVCbmynTQjOBkFaaB_YXB5l25sU/viewform?embedded=true" width="700" height="600" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
<div style="font-size: 0.8em">
    <br />
    <p><a name="desc"></a>I will be asking you to do two things:<br /><br />
1) Complete a short requirements questionnaire: <a href="survey">geekscruff.me/peoplesparql/survey</a>
<br /><br />
2) Carry out an evaluation of the prototype system in June / July.</p>
    </div>
</div>
    <footer>
      &copy; 2013 by <a href="http://geekscruff.me/">geekscruff</a>.
    </footer>
  </body>
</html>