{% extends "base.html" %}
{% block title %}Error 500{% endblock %}
{% block content %}

        <h1>Error - Something Unexpected Went Wrong</h1>
        <p>The error has been logged.</p>
        <p>If you have time to let me know what you were doing when the error occurred, please <a href="mailto:geekscruff@gmail.com"/>email me</a> or fill out the form below.</p>

        <iframe src="https://docs.google.com/forms/d/16yYhui4_No-y-h8xOji7bvD1ZYl_NTuDN2pBGTOwEv4/viewform?embedded=true" width="760" height="700" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

        <p>Please return to the <a href="/peoplesparql">home page</a> and start over.</p>

{% endblock %}